body{
    padding: 0px;
    margin: 0px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blueviolet;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
}

main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageprodutos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

#produtos article {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background-color: white;
}

#produtos img {
  max-width: 100%;
  height: auto;
}

#produtos h2 {
  font-size: 18px;
  margin: 10px 0;
}

#produtos p {
  font-size: 14px;
  margin: 8px 0;
}

#produtos button {
}

#pagecesto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
  width: 100%;
}

#cesto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

#cesto article {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background-color: white;
}

#cesto img {
  max-width: 100%;
  height: auto;
}

#cesto h2 {
  font-size: 18px;
  margin: 10px 0;
}

#cesto p {
  font-size: 14px;
  margin: 8px 0;
}